<!DOCTYPE html>
<html>
	<head>
		{{template "base/head.html" .}}
		{{template "head" .}}
	</head>
	<body>
		{{template "product" .}}
		{{template "body" .}}
		{{template "base/footer.html" .}}
	</body>
</html>
{{define "product"}}
<div class="container">
    <h3> <span>2 BHK for sale</span></h3>
		<img src="http://img.staticmb.com/mbimages/project/Project-Photo-29-Tulip-Petals-Gurgaon-5017162_480_1366.jpg" alt="" width="800px" height="auto"/>
<div>
<div class="container">
		<br/>
		<div class="row vertical-align">
		<div height="20px"></div>
		<div id="attributes"></div>
		</div>
</div>
{{end}}
