<!DOCTYPE html>
<html>
	<head>
		{{template "base/head.html" .}}
		{{template "head" .}}
	</head>
	<body>
		{{template "product" .}}
		{{template "body" .}}
		{{template "base/footer.html" .}}
	</body>
</html>
{{define "product"}}
<div class="container">
    <h3> <span>2 BHK for sale</span></h3>
		<img src="http://img.staticmb.com/mbimages/project/Photo_h80_w120/Project-Photo-8-Mavilla-Apartment-New-Delhi-5083880_1224_1632_80_120.JPEG" alt="" width="auto" height="auto"/>
		<div id="attributes">
		</div>
</div>
{{end}}
