{{template "base/base.html" .}}
{{define "head"}}
<title>{{i18n .Lang "welcome"}} - {{i18n .Lang "app_intro"}}</title>
{{end}}
{{define "body"}}
<div class="container" style="width: 500px;">
    <h3>{{i18n .Lang "set_profile"}}</h3>
    <br>
    <form action="/join" method="post" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">{{i18n .Lang "username"}}: </label>
            <div class="col-md-5">
                  <input type="text" class="form-control" name="uname" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">{{i18n .Lang "technology"}}: </label>
            <div class="col-md-5">
                <select class="form-control" name="tech">
                    <option>{{i18n .Lang "longpolling"}}</option>
                    <option>{{i18n .Lang "websocket"}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-info">{{i18n .Lang "enter_chat"}}</button>
            </div>
        </div>
    </form>
</div>
{{end}}